.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userDetail {
  width: 100%;
  text-align: left;
  padding: 20px 200px;
      flex-direction: column;
    align-items: center;
    display: flex;
}

.userDetail_btns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userDetail .userDetail_btns button {
  margin-top: 10px;
}

.navbar a {
  color: rgba(255,255,255,.5);
  align-self: center;
}

.userAlert {
  border: 2px solid red;
}

.App .addUser {
  flex-direction: column;
  align-items: center;
  padding: 20px 200px;
}

.userDetail-data {
  width: 80%;
}